/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

# IDE Configuration
/.idea

# Dev Configuration
/dev

# Karma Configuration
karma.conf.js

# cljs-runtime
/resources/public/js/compiled/cljs-runtime

